{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div class="row">
        <div class="col-md-3">
            <!-- empty div -->
        </div>
        <div class="col-md-6">
            <h2 class="text-center">LogIn</h2>
            <p>
                {{ wtf.quick_form(form) }}
            </p>
            <p>New here? Create your account <a href="#">Signup</a></p>
            <div class="col-md-3">
                <!-- empty -->
            </div>
        </div>
    </div>
{% endblock %}